html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase; }

.wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.menu-top {
  width: 100%;
  background-color: #81b3d2;
  position: relative;
  overflow: hidden; }
  .menu-top__list {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -1px; }
  .menu-top__item {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    line-height: 55px;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8; }
    .menu-top__item a {
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase; }
    .menu-top__item:hover {
      background-color: #669ec0; }
    .menu-top__item:active {
      background-color: #5496bd; }
      .menu-top__item:active a {
        color: #7aadcb; }
  .menu-top:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 5px 1px; }

.btn {
  display: block;
  border: 0;
  text-align: center; }
  .btn--close {
    position: absolute;
    right: 18px;
    top: 18px;
    background: url("../img/ico-cancel.png") center;
    width: 23px;
    height: 22px; }

.logo-small {
  width: 138px;
  height: 70px;
  display: block;
  text-decoration: none; }

.menu-icon {
  width: 23px;
  height: 22px;
  background: url("../img/ico-menu_mob.png") center; }

.header {
  width: 100%; }
  .header__logo-box {
    position: relative;
    width: 100%;
    height: 56px;
    overflow: visible; }
  .header .logo-small {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -69px; }
  .header .menu-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px; }
  .header__top-picture {
    position: relative;
    background-image: url("../img/bg-top.jpg");
    background-position: center;
    text-align: center;
    padding: 45px 0 45px; }
    .header__top-picture:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 26px;
      background-image: url("../img/corner-white.png"); }
  .header__top-text {
    width: 196px; }
  .header__title {
    text-decoration: none;
    display: block;
    margin: 60px 0 60px; }
    .header__title img {
      width: 280px; }
  .header__bottom-text {
    width: 197px; }
  .header__desc {
    padding: 40px 25px 30px;
    text-align: center; }
  .header__desc-title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold; }
  .header__desc-reasons {
    margin: 0;
    padding: 0;
    margin-top: 35px; }

.promo-text {
  text-align: center;
  color: #fff;
  padding: 40px 25px 40px; }
  .promo-text__title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold; }
  .promo-text__number {
    padding: 0;
    margin: 20px 0 20px; }
  .promo-text__number:before, .promo-text__number:after {
    content: "\2014";
    padding: 0 3px 0; }
  .promo-text__desc {
    margin: 0;
    padding: 0;
    line-height: 1.5; }
  .promo-text--color-gray {
    color: #000;
    background: #eee;
    position: relative; }

.promo-list {
  background: #eee; }
  .promo-list .promo-text:nth-child(n+2):before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 0;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; }

.reason {
  width: 100%;
  background-color: #81b3d2; }
  .reason--with-corner {
    background: url("../img/corner-white-bottom.png") #81b3d2 top left no-repeat;
    padding-top: 29px; }
  .reason--devil-bridge .reason__img {
    background-image: url("../img/reason2.jpg"); }
  .reason__img {
    background: url("../img/reason1.jpg") center;
    width: 320px;
    height: 256px; }

.advice-container {
  padding: 30px 0 0; }

.advice-item {
  padding-bottom: 30px; }
  .advice-item__ico {
    float: left;
    height: 38px;
    margin-left: 20px; }
  .advice-item__title {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: right;
    width: 230px;
    margin: 0 20px 0 0;
    padding: 5px 0 0; }
  .advice-item__desc {
    float: right;
    width: 230px;
    margin: 0 20px 0 0;
    padding: 15px 0 0;
    line-height: 1.5; }
  .advice-item:after {
    content: '';
    display: table;
    clear: both; }

.interested {
  text-align: center;
  padding: 30px 25px 30px; }
  .interested__title {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold; }
  .interested__text {
    line-height: 1.5; }

.hotel-search__form {
  margin: 0;
  padding: 0;
  padding-bottom: 45px; }
.hotel-search__form-title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #766357;
  color: #fff;
  text-align: center;
  padding: 30px 0 30px;
  margin: 0; }
.hotel-search__form-text {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  padding: 15px 35px 0; }
.hotel-search__form-date {
  display: block;
  position: relative;
  width: 250px;
  margin: 0 20px 0;
  padding: 0 15px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../img/ico-datepicker-sprite.gif") #f2f2f2 no-repeat;
  background-position: 96% 8px;
  border: 1px solid #f2f2f2;
  text-transform: uppercase; }
  .hotel-search__form-date:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
    background-position: 96% -38px; }
  .hotel-search__form-date:focus {
    background-color: #fff;
    background-position: 96% -82px; }
.hotel-search__form-count {
  width: 39px;
  float: left;
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0; }
.hotel-search__down {
  display: block;
  float: left;
  width: 38px;
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  color: #d6d6d6;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer; }
  .hotel-search__down--first {
    margin-left: 20px; }
  .hotel-search__down:hover {
    color: #000; }
  .hotel-search__down:active {
    color: #81b3d2; }
.hotel-search__shot-wrapper {
  width: 50%;
  float: left;
  padding: 0 0 45px; }

.btn--search {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  padding: 20px 0 20px;
  width: 280px;
  margin: 0 auto;
  margin-top: 45px;
  clear: both; }
  .btn--search:hover {
    background-color: #669ec0; }
  .btn--search:active {
    background-color: #5496bd;
    color: #7aadcb; }

.map {
  width: 100%;
  height: 593px;
  background: url("../img/bg-map.jpg") center;
  position: relative;
  overflow: hidden; }
  .map:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 5;
    box-shadow: 0 0 5px 1px; }

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 0 20px;
  background-color: rgba(254, 254, 254, 0.9);
  text-align: center; }

.copy {
  font-size: 21px;
  font-weight: bold; }

.social-links {
  text-align: center;
  padding: 40px 0 40px;
  font-size: 0; }
  .social-links a {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
    margin: 0 5px 0; }
    .social-links a:hover {
      background-color: #669ec0; }
    .social-links a:active {
      background-color: #5496bd; }
  .social-links__yt {
    background-image: url("../img/ico-youtube.png"); }
  .social-links__twit {
    background-image: url("../img/ico-twitter.png"); }
  .social-links__fb {
    background-image: url("../img/ico-facebook.png"); }

.developers {
  text-align: center;
  vertical-align: top; }
  .developers a {
    display: inline-block;
    height: 33px;
    width: 26px;
    background-position: 0 0;
    margin: 0 5px 0; }
    .developers a:hover {
      background-position: 0 -40px; }
    .developers a:active {
      background-position: 0 0;
      opacity: 0.3; }
  .developers__by {
    background-image: url("../img/ico-dev_by-sprite.png"); }
  .developers__for {
    background-image: url("../img/ico-dev_for-sprite.png"); }
  .developers span {
    display: inline-block;
    vertical-align: top;
    line-height: 33px; }

@media (max-width: 570px) {
  .wrapper {
    /*width: 100%;
    min-width: $width-mobile;*/
    width: 320px; } }
@media (min-width: 570px) {
  .wrapper {
    width: 100%;
    min-width: 570px; }

  .menu-top {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .menu-top__list {
      margin: 0; }
    .menu-top__item {
      border: 0;
      display: inline-block;
      width: 20%; }
      .menu-top__item:hover, .menu-top__item:active {
        background-color: #fff; }
      .menu-top__item a {
        color: #000;
        font-size: 14px; }
        .menu-top__item a:hover {
          color: #81b3d2; }
        .menu-top__item a:active {
          color: #000;
          opacity: 0.3; }
      .menu-top__item--active a {
        color: #766357; }
        .menu-top__item--active a:hover {
          color: #766357; }
        .menu-top__item--active a:active {
          color: #766357;
          opacity: 0.3; }
      .menu-top__item:nth-child(2) {
        margin-right: 18%; }
    .menu-top:after {
      display: none; }

  .btn--close, .menu-icon {
    display: none; }

  .header__logo-box {
    width: 138px;
    margin: 0 auto; }
  .header__top-picture {
    background-size: cover; }
    .header__top-picture:after {
      height: 36px;
      background-image: url("../img/corner-white-big.png");
      background-position: center bottom; }
  .header__top-text {
    width: 256px; }
  .header__title {
    margin: 50px 0 50px; }
    .header__title img {
      width: 458px; }
  .header__bottom-text {
    width: 295px; }
  .header__desc {
    max-width: 580px;
    margin: 0 auto; }
  .header__desc-title {
    font-size: 21px; }

  .reason--with-corner {
    background-image: none;
    padding: 0; }
  .reason__text {
    float: left;
    width: 34%; }
  .reason__img {
    width: 66%;
    float: right;
    background-size: cover; }
  .reason--devil-bridge .reason__text {
    float: right; }
  .reason--devil-bridge .reason__img {
    float: left; }

  .advice-item {
    float: left;
    width: 33%;
    min-width: 170px;
    text-align: center; }
    .advice-item__ico {
      float: none;
      height: 76px;
      margin-left: 0; }
    .advice-item__title, .advice-item__desc {
      float: none;
      margin: 0 auto;
      width: 70%;
      min-width: 170px;
      text-align: center; }

  .promo-text {
    padding: 40px 0 40px;
    min-width: 170px;
    text-align: center;
    float: left; }
    .promo-text__title, .promo-text__desc {
      float: none;
      margin: 0 auto; }
    .promo-text__desc {
      width: 70%;
      min-width: 170px; }
    .promo-text__title {
      width: 130px; }

  .promo-list {
    background: #eee; }
    .promo-list .promo-text:nth-child(n+2):before {
      display: none; }
    .promo-list .promo-text {
      width: 33%; }

  .interested__title {
    font-size: 30px; }
  .interested__text {
    width: 430px;
    margin: 0 auto; }

  .hotel-search {
    position: relative; }
    .hotel-search__form-title {
      width: 570px;
      margin: 0 auto; }
    .hotel-search__form {
      background: #fff;
      z-index: 10;
      position: absolute;
      width: 570px;
      left: 50%;
      margin-left: -285px;
      padding: 10px 0 10px; }
    .hotel-search__form-text {
      float: left;
      text-align: left;
      margin: 15px 0 15px 10%;
      padding: 0;
      width: 17%; }
      .hotel-search__form-text--shot {
        width: 40%;
        margin: 0;
        padding: 0;
        text-align: left; }
      .hotel-search__form-text--right-side {
        margin-left: 20%;
        margin-right: 4px;
        width: 20%; }
    .hotel-search__form-date {
      float: right;
      width: 55%;
      padding: 0 2.5% 0;
      margin: 15px 10% 15px 0; }
    .hotel-search__form-count {
      width: 17%; }
    .hotel-search__down {
      width: 15%; }
      .hotel-search__down--first {
        margin-left: 23px; }
    .hotel-search__shot-wrapper {
      margin-top: 15px;
      margin-left: 10%;
      width: 40%; }
      .hotel-search__shot-wrapper--right {
        margin-left: 0;
        margin-right: 10%; }

  .btn--search {
    width: 80%;
    margin-bottom: 40px; }

  .copy, .social-links, .developers {
    float: left;
    width: 33%;
    text-align: center; }

  .copy {
    padding-top: 25px; }

  .social-links {
    padding-top: 15px;
    padding-bottom: 15px; }

  .developers {
    padding-top: 20px; } }
@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px; }

  .header__top-picture {
    padding: 65px 0 70px; }
    .header__top-picture:after {
      height: 57px;
      background-size: 100% 100%;
      background-image: url("../img/corner-white-1200.png"); }
  .header__title {
    margin: 60px 0 60px; } }
