@mixin reset{
  margin: 0;
  padding: 0;
}

@mixin h1-bold{
  font-family: $font;
  font-size: $h-size;
  font-weight: bold;
}

@mixin clear{
  content:'';
  display:table;
  clear:both;
}

@mixin input-text{
  font-size: $text-size;
  font-weight: bold;
  line-height: $input-height;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin btn-text{
  font-family: $font;
  font-size: $h-size;
  font-weight: bold;
  text-transform: uppercase;
}