@import 'variables.scss';
@import 'mixins.scss';

html, body{
  padding: 0;
  margin: 0;
  background-color: $white;
  color: $color-main;
  font-family: $font;
  font-size: $text-size;
  text-transform: uppercase;
}

.wrapper{
  width: $width-mobile;
  margin: 0 auto;
  position: relative;
  //border-left: 1px solid #000000;
  //border-right: 1px solid #000000;
}
.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

.menu-top{
  width: 100%;
  background-color: $bg-colored;
  position: relative;
  overflow: hidden;

  &__list{
    width: 100%;
    position: relative;
    @include reset;
    margin-top: -1px;
    margin-bottom: -1px;
  }

  &__item{
    width: 100%;
    @include reset;
    list-style: none;
    text-align: center;
    line-height: 55px;
    border-top: 1px solid $color-blue-lighter;
    border-bottom: 1px solid $color-blue-darker;

    & a{
      text-decoration: none;
      font-size: $h-size;
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:hover{
      background-color: $color-blue-hv;
    }

    &:active{
      background-color: $color-blue-act;

      & a{
        color: $color-blue-text;
      }
    }
  }

  &:after{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 5px 1px;
  }
}

.btn{
  display: block;
  border:0;
  text-align: center;
  
  &--close{
    position: absolute;
    right: 18px;
    top: 18px;
    background: url("#{$dir}/ico-cancel.png") center;
    width: $ico-width;
    height: $ico-height;
  }
}

.logo-small{
  width: $logo-small-width;
  height: 70px;
  display: block;
  text-decoration: none;
}
.menu-icon{
  width: $ico-width;
  height: $ico-height;
  background: url("#{$dir}/ico-menu_mob.png") center;
}

.header{
  width: 100%;

  &__logo-box{
    position: relative;
    width: 100%;
    height: 56px;
    overflow: visible;
  }

  .logo-small{
    position: absolute;
    z-index: 10;
    left:50%;
    margin-left: -1*($logo-small-width/2);
  }

  .menu-icon{
    position: absolute;
    right:$marg-side;
    top:50%;
    margin-top: -1*($ico-height/2);
  }

  &__top-picture{
    position: relative;
    background-image: url("#{$dir}/bg-top.jpg");
    background-position: center;
    text-align: center;
    padding: 45px 0 45px;

    &:after{
      content: "";
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      height:26px;
      background-image: url("#{$dir}/corner-white.png");
    }
  }

  &__top-text{
    width: 196px;
  }

  &__title{
    text-decoration: none;
    display: block;
    margin: 60px 0 60px;
    & img{
      width: 280px;
    }
  }

  &__bottom-text{
    width: 197px;
  }

  &__desc{
    padding: 40px 25px 30px;
    text-align: center;
  }

  &__desc-title{
    @include reset;
    @include h1-bold;
  }

  &__desc-reasons{
    @include reset;
    margin-top: 35px;
  }
}

.promo-text{
  text-align: center;
  color: $white;
  padding: 40px 25px 40px;

  &__title{
    @include reset;
    @include h1-bold;
  }

  &__number{
    padding: 0;
    margin: 20px 0 20px;
  }

  &__number:before, &__number:after{
    content: "\2014";
    padding: 0 3px 0;
  }

  &__desc{
    @include reset;
    line-height: $line-height;
  }

  &--color-gray{
    color: $color-main;
    background: $grey;
    position: relative;
  }
}

.promo-list{
  background: $grey;

  & .promo-text:nth-child(n+2):before{
    content:'';
    display:block;
    position: absolute;
    left: $marg-side;
    top:0;
    width: $width-mobile - 2*$marg-side;
    height: 1px;
    background-color: $grey-dark;
  }
}

.reason{
  width: 100%;
  background-color: $bg-colored;

  &--with-corner{
    background: url("#{$dir}/corner-white-bottom.png") $bg-colored top left no-repeat;
    padding-top: 29px;
  }

  &--devil-bridge &__img{
    background-image: url("#{$dir}/reason2.jpg");
  }

  &__img{
    background: url("#{$dir}/reason1.jpg") center;
    width:320px;
    height: 256px;
  }
}

.advice-container{
  padding: 30px 0 0;
}

.advice-item{
  padding-bottom: 30px;

  &__ico{
    float:left;
    height:38px;
    margin-left: $marg-side;
  }

  &__title{
    @include h1-bold;
    float:right;
    width:230px;
    margin: 0 $marg-side 0 0;
    padding: 5px 0 0;
  }

  &__desc{
    float:right;
    width:230px;
    margin: 0 $marg-side 0 0;
    padding: 15px 0 0;
    line-height: $line-height;
  }

  &:after{
    @include clear;
  }
}

.interested{
  text-align: center;
  padding: 30px 25px 30px;

  &__title{
    @include h1-bold;
  }

  &__text{
    line-height: $line-height;
  }
}

.hotel-search{
  &__form{
    @include reset;
    padding-bottom: 45px;
  }

  &__form-title{
    @include h1-bold;
    background-color: $brown;
    color: $white;
    text-align: center;
    padding: 30px 0 30px;
    margin: 0;
  }

  &__form-text{
    display: block;
    font-size: $text-size;
    font-weight: bold;
    line-height: $input-height;
    padding: 15px ($marg-side+15) 0;
  }

  &__form-date{
    display: block;
    position: relative;
    width: ($width-mobile - (2*$marg-side) - (2*15px) );
    margin: 0 $marg-side 0;
    padding: 0 15px 0;
    @include input-text;
    background:url("#{$dir}/ico-datepicker-sprite.gif") $color-input no-repeat;
    background-position: 96% 8px;
    border:1px solid $color-input;
    text-transform: uppercase;

    &:hover{
      background-color: $color-input-hv;
      border-color:$color-input-hv;
      background-position: 96% -38px;
    }

    &:focus{
      background-color: $white;
      background-position: 96% -82px;
    }
  }

  &__form-count{
    width: (($width-mobile - 3*$marg-side - 2*15px)/2 - 2*$input-height);
    float:left;
    margin: 0;
    text-align: center;
    background-color:$color-input;
    border:0;
    @include input-text;

  }

  &__down{
    display: block;
    float: left;
    width: $input-height;
    @include input-text;
    color: $grey-dark;
    text-align: center;
    background-color:$color-input;
    cursor: pointer;

    &--first{
      margin-left: $marg-side;
    }

    &:hover{
      color: $color-main;
    }

    &:active{
      color: $color-blue;
    }
  }

  &__shot-wrapper{
    width: 50%;
    float: left;
    padding:0 0 45px;
  }
}

.btn--search{
  @include btn-text;
  background-color: $bg-colored;
  color: $white;
  text-align: center;
  padding: 20px 0 20px;
  width: ($width-mobile - 2*$marg-side);
  margin: 0 auto;
  margin-top: 45px;
  clear: both;

  &:hover{
    background-color: $color-blue-hv;
  }

  &:active{
    background-color: $color-blue-act;
    color: $color-blue-text;
  }
}

.map{
  width: 100%;
  height: 593px;
  background: url("#{$dir}/bg-map.jpg") center;
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 5;
    box-shadow: 0 0 5px 1px;
  }
}

.footer{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 0;
  padding: $marg-side 0 $marg-side;
  background-color: rgba(254,254,254,0.9);
  text-align: center;
}

.copy{
  font-size: $size-big;
  font-weight: bold;
 }

.social-links{
  text-align: center;
  padding: 40px 0 40px;
  font-size: 0;
  
  & a{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: $bg-colored;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
    margin: 0 5px 0;

    &:hover{
      background-color: $color-blue-hv;
    }

    &:active{
      background-color: $color-blue-act;
    }
  }

  &__yt{
    background-image: url("#{$dir}/ico-youtube.png");
  }
  &__twit{
    background-image: url("#{$dir}/ico-twitter.png");
  }
  &__fb{
    background-image: url("#{$dir}/ico-facebook.png");
  }
}

.developers{
  text-align: center;
  vertical-align: top;

  & a{
    display: inline-block;
    height: 33px;
    width: 26px;
    background-position: 0 0;
    margin:  0 5px 0;

    &:hover{
      background-position: 0 -40px;
    }

    &:active{
      background-position: 0 0;
      opacity: 0.3;
    }
  }
  &__by{
    background-image: url("#{$dir}/ico-dev_by-sprite.png");
  }
  &__for{
    background-image: url("#{$dir}/ico-dev_for-sprite.png");
  }
  & span{
    display: inline-block;
    vertical-align:  top;
    line-height: 33px;
  }

}

@import 'planshet.scss';