$color-blue:    #81b3d2;
$color-blue-darker: #678fa8;
$color-blue-lighter: #9ac2db;
$color-main:    #000;
$white:         #fff;
$grey:          #eee;
$grey-dark:     #d6d6d6;
$brown:         #766357;
$color-input:   #f2f2f2;
$color-input-text: #a9a9a9;

$bg-main:       $white;
$bg-colored:    $color-blue;

$dir:           "../img";

$text-size:     14px;
$h-size:        18px;
$size-big:      21px;
$line-height:   1.5;
$marg-side:     20px;
$font:          'PT Sans', sans-serif;

$width-mobile:  320px;

$logo-small-width: 138px;
$ico-width:      23px;
$ico-height:     22px;